*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #34495e;
    background-image: linear-gradient(355deg, #34495e 0%, #29524a 74%);
}
#loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #051626  !important;
    z-index: 10000;
    opacity: 1;
    overflow: hidden;
    text-align: center;
}
div.one{
    width: 8vmax;
    height: 8vmax;
    border-right: 5px solid #fff;
    border-radius: 100%;
    animation: spinRight 800ms linear infinite;
}
div.one::before,
div.one::after{
    content: "";
    width: 6vmax;
    height: 6vmax;
}